<div class="main-container">
  <div class="controls-container">
    <div>
      <button
        type="button"
        class="btn"
        [ngClass]="{ 'btn-secondary': !autoscroll, 'btn-success': autoscroll }"
        (click)="toogleAutoscroll()"
      >
        Autoscroll {{ autoscroll ? "on" : "off" }}
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ 'btn-secondary': !recording, 'btn-success': recording }"
        (click)="toogleRecording()"
      >
        Recording {{ recording ? "on" : "off" }}
      </button>
    </div>

    <div>
      <button type="button" class="btn btn-primary" (click)="openExportModal()">
        Export Data
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{
          'btn-secondary': !websocketEnabled,
          'btn-success': websocketEnabled
        }"
        (click)="webSocketButton()"
      >
        Web socket {{ websocketEnabled ? "on" : "off" }}
      </button>
    </div>
  </div>
  <div class="serial-container">
    <table>
      <thead>
        <tr>
          <th class="time">Timestamp</th>
          <th class="data">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data" [ngClass]="{ recording: row.recording }">
          <td class="time">{{ row.timestampString }}</td>
          <td style="text-overflow: ellipsis">{{ row.data }}</td>
        </tr>
      </tbody>
    </table>

    <!-- <table>
      <tr>
        <th style="width: 200px">Timestamp</th>
        <th>Data</th>
      </tr>
      <tr *ngFor="let row of data">
        <td>
          {{ row.timestamp }}
        </td>
        <td>
          {{ row.data }}
        </td>
      </tr>
    </table> -->
  </div>
  <div class="data-send-container">
    <input type="text" [(ngModel)]="command" (keydown.enter)="sendCommand()" />
    <button type="button" class="btn btn-primary">Send</button>
  </div>
</div>

<div class="modal" tabindex="-1" id="ws-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Open Web Socket Server</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="port">
          <div>Port:</div>
          <input
            type="number"
            [(ngModel)]="wsPort"
            min="1"
            step="1"
            (change)="checkPort()"
          />
          <div class="spinner-border" role="status" *ngIf="checkingPort"></div>
        </div>
        <div class="port-error">
          <div *ngIf="portError">The selected port is in use!</div>
        </div>
        <div class="auth">
          <div>Authentication:</div>
          <input
            type="checkbox"
            [(ngModel)]="wsAuth"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="authParams" *ngIf="wsAuth">
          <div>
            <div>User:</div>
            <input type="text" [(ngModel)]="wsUser" />
          </div>
          <div>
            <div>Password:</div>
            <input type="text" [(ngModel)]="wsPassword" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="openWebSocket()"
          data-bs-dismiss="modal"
          [disabled]="portError || checkingPort"
        >
          Open
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="ws-close-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Close Web Socket Server</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- <div class="modal-body"></div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="closeWebSocket()"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="export-data-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export data to CSV</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>Separator:</div>
        <input type="text" [(ngModel)]="separator" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="exportData()"
          data-bs-dismiss="modal"
        >
          Export
        </button>
      </div>
    </div>
  </div>
</div>
